@page "/"
@using ClassLibraryDAL
@using ClassLibraryModel

<h3>Student Dashboard</h3>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Project ID</th>
			<th>Project Name</th>
			<th>Project Details</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in posModels)
		{
			<tr>
				<td>@item.ProjID</td>
				<td>@item.ProjectName</td>
				<td>@item.ProjectDetails</td>
				<td><NavLink href="student/register/@item.ProjID">Register</NavLink></td>
			</tr>
		}
	</tbody>
</table>

@code {
	private List<PosModel> posModels { get; set; } = new List<PosModel>();

	protected override void OnInitialized()
	{
		LoadProjects();
	}

	private void LoadProjects()
	{
		posModels = PosDAL.GetProj();
	}
}
