@page "/student/{studentId}"
@using ClassLibraryDAL
@using ClassLibraryModel

<h3>Student Details</h3>
<br />
<div class="form-group">
	<label for="Name">Name:</label>
	<input type="text" class="form-control" value="@studentModel.Name" readonly />
</div>
<div class="form-group">
	<label for="Email">Email:</label>
	<input type="email" class="form-control" value="@studentModel.Email" readonly />
</div>
<div class="form-group">
	<label for="Phone">Phone:</label>
	<input type="text" class="form-control" value="@studentModel.Phone" readonly />
</div>
<br />
<a href="student" class="btn btn-outline-primary">Back</a>

@code {
	[Parameter]
	public int studentId { get; set; }
	private StudentModel studentModel { get; set; } = new StudentModel();

protected override void OnInitialized()
	{
		LoadStudent();
	}

	private void LoadStudent()
	{
		studentModel = StudentDAL.GetStudent(studentId);
	}

}