@using SuperAdmin.Authentication
@inherits LayoutComponentBase
@inject AuthenticationStateProvider authStateprovider
@inject NavigationManager navManager

<PageTitle>SuperAdmin</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <a @onclick="Logout" href="javascript:void(0)">Logout</a>

                </Authorized>
                <NotAuthorized>
                    <a href="/Login"> Login </a>
                </NotAuthorized>
            </AuthorizeView>

            @Body
        </article>
    </main>
</div>

@code {
    private async Task Logout()
    {
        var custAuthStateProvider = (CustomAuthenticationStateProvider)authStateprovider;
        await custAuthStateProvider.UpdateAuthenticationState(null);
        navManager.NavigateTo("/", true);

    }
}